html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    background-image: linear-gradient(rgb(27, 139, 27), rgb(9, 102, 165));
}

form {
    width: 300px;
    text-align: left;
    margin:  20px auto;
    padding: 20px;
    box-shadow: 10px, 10px, 10px;
    border-radius: 10px;
    border: 1px solid;
}

form > input, form > button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* All links are blue */
a {
    color: blue;
}

.error {
    color: red;
    position: absolute;
    margin-left: 40px;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     /* 1px  1px 0 #000; Create a black outline */
}